<!-- views/partials/level1.ejs -->

<h2>
    <%= connectedUser.texteAccueil %>
</h2>
<div class="jumbotron">
    <form action="/account" method="post">
        <div class="form-group row">
            <label for="texteAccueil" class="col-sm-2 col-form-label">Message</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="texteAccueil" name="texteAccueil" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>