<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('./partials/head') %>
</head>

<body class="container">

    <header>
        <%- include('./partials/header') %>
    </header>

    <main>
        <h1>Log In</h1>
        <%- include('./partials/loginForm') %>




    </main>

    <footer>
        <%- include('./partials/footer') %>
    </footer>
</body>

</html>