<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('./partials/head') %>
</head>

<body class="container">

    <header>
        <%- include('./partials/header') %>
    </header>

    <main>
        <% if (connectedUser.connected) { %>
            <%- include('./partials/level'+connectedUser.nivDroit) %>
                <% } else { %>
                    <h2>Vous n'êtes pas connecté</h2>
                    <% } %>


    </main>

    <footer>
        <%- include('./partials/footer') %>
    </footer>
</body>

</html>